{% extends "category.html" %}

{% block title %}
    mrwonko's JK3Files mirror
{% endblock %}

{% block heading %}
    mrwonko's JK3Files mirror
{% endblock %}

{% block content %}
    {{ super() }}
    <h2><a href="search.html">Search</a></h2>
    <h2>What is this?</h2>
    <p>
        In the summer of 2015 the filefront network sites went offline. This included jediknight3.filefront.com, also known as jk3files.com, which hosted mods for Star Wars Jedi Knight: Jedi Outcast and Jedi Academy. Coincidentally I had crawled the page just a few weeks earlier, creating a backup because I feared it might go offline some day; I did not expect it to happen so soon. I now host this backup here in the interest of preserving these mods.
    </p>
    <p>
        I don't hold the copyright of any of these mods, those lie with their original authors. If you are an author of one of these mods and don't want me to host it here, feel free to contact me at <a href="mailto:admin+jk3files@mrwonko.de">admin+jk3files@mrwonko.de</a> and I will take it offline. I don't accept new mods; a good place to submit those is <a href="http://jkhub.org">JKHub</a>. This is merely a historical archive.{# Likewise the user scores displayed are from June 2015 and no new votes are possible. #}
    </p>
    <p>
        A torrent containing all the mods, their screenshots and the metadata <a href="http://mrwonko.de/jk3files.torrent">is also available</a>, but due to its high number of files (over 40.000) some clients have trouble handling it. I have successfully used Tixati and rtorrent though.
    </p>
    <p>
        - mrwonko
    </p>
{% endblock %}
